$color-one : #6e5f2c; // primary font color
$color-two : #8c7e14; // main block border color
$color-three : #9ec115; // main block bg color
$color-four : #f8f9fa; // light bg color
$color-red : #fd2424; // used for button
$color-blue : #017fff; // used for button
$color-green : #28a745; // used for button
$color-gradient-one : #56ccf2;
$color-gradient-two : #2f80ed;
$text_color_light : #ffffff;
$shadow-raised : 0px 2.5px 0px 1.5px #ccc;
$main-border-radius : 12px;
$main-transition : all 0.15s ease;

html{
    min-height: 100%;
    background: rgb(86,204,242);
    background: url(../images/page_bg.png), radial-gradient(circle, $color-gradient-one 0%, $color-gradient-two 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
}

body{
    font-family: 'Niramit', sans-serif;
    background: transparent;
    color: $color-one;
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        -webkit-border-radius: $main-border-radius;
        border-radius: $main-border-radius;
        background-color: $text_color_light;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: $main-border-radius;
        border-radius: $main-border-radius;
        background-color: $color-two; 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background-color: $color-two; 
    }
}

.bg_green{
    background-color: $color-three;
}
.bg_grey{
    background-color: $color-two;
}

.row{
    &.custom_spacing {
        margin-right: -3px;
        margin-left: -3px;
        > div {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
    &.custom_spacing-md {
        margin-right: -8px;
        margin-left: -8px;
        > div {
           padding-right: 8px;
           padding-left: 8px;
       }
    }
}

/* Button Styles */
.btn{
    font-weight: bold;
    padding: 0.5rem 1rem;
    &.btn_raised{
        position: relative;
        border-radius: $main-border-radius;
        color: $color-one;
        box-shadow: $shadow-raised;
        transition: $main-transition;
        bottom: 0;
        &:hover{
            box-shadow: 0px 0px 0px 0px #ccc;
            bottom: -2.5px;
        }
    }
    &.shop_link{
        font-size: 21px;
        color: $text_color_light;
        font-weight: bold;
         *{
            vertical-align: middle;
        }
        &:hover{
            color: $color-one;
        }
    }
    
    &.btn_create{
        background-color: $color-red;
        color: $text_color_light;
        font-weight: bold;
        padding: 0px 8px 1px;
        &:hover{
            background-color: darken($color-red, 12%);
        }
    }
    
    &.btn_join{
        background-color: $color-blue;
        color: $text_color_light;
        font-weight: bold;
        padding: 0px 8px 1px;
        &:hover{
            background-color: darken($color-blue, 12%);
        }
    }
    
    &.btn_spectate{
        background-color: $color-green;
        color: $text_color_light;
        font-weight: bold;
        padding: 0px 8px 1px;
        &:hover{
            background-color: darken($color-green, 12%);
        }
    }
}

/* Header Parts */
.header_logo{
    >img{
        width: 220px;
    }
}
header{
    .mobile_btn{
        border-radius: 5px;
        box-shadow: inset 0px -1px 5px 2px #787878;
        width: 56px;
        height: 56px;
        display: inline-block;
        background: $color-three;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        &.menu_trigger{
            background-image: url(../images/hamburger.svg);
            background-size: 65%, cover;
        }
        &.login_btn{
            background-image: url(../images/user-icon.png);
            background-size: 50%, cover;
        }
        &:hover{
            background-color: darken($color-three, 3%);
        }
    }
}
.btn_mnav_close{
    display: none;
}

/* Custom 3D block */
.raised_block{
    background-color: $color-four;
    padding: 0.5rem 1.25rem;
    box-shadow: $shadow-raised;
    border-radius: $main-border-radius;
}

.main_block{
    background-color: $color-two;
    color: $text_color_light;
    padding: 18px 18px;
    border-radius: $main-border-radius;
    box-shadow: inset 0 0 2px 3px $color-one;
    position: relative;
    z-index: 0;
    &:before {
        content: "";
        position: absolute;
        background: $color-three;
        display: block;
        border-radius: $main-border-radius;
        top: 6px;
        left: 6px;
        bottom: 6px;
        right: 6px;
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        background: transparent;
        box-shadow: inset 0px -2px 2px 1px rgba(215, 215, 215, 0.5);
        display: block;
        border-radius: $main-border-radius;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    table{
        color: $text_color_light;
    }
}

// .main_container_block{
//     &>.row{
//         &>[class|=col]{
//             display: -ms-flexbox!important;
//             display: flex!important;
//             -ms-flex-wrap: wrap!important;
//             flex-wrap: wrap!important;
//             &>*{
//                 width: 100%;
//             }
//         }
//     }
// }

/* Chat Box */
.chat_box{
    .message_list{
        height: 454px;
        overflow-y: auto;
        margin: 0 -0.5rem;
        .message_post{
            margin-bottom: 0.25rem;
            padding: 0 0.5rem;
            border-radius: 5px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
            .m_user{
                font-size: 15px;
                font-weight: bold;
            }
        }
        .help_text{
            font-size: 15px;
            padding: 0 0.5rem;
        }
    }
    form{
        .form-control{
            font-size: 12px;
        }
        button{
            &.btn_send{
                padding: 0rem 0.7rem;
                border: 1px solid #ccc;
                line-height: 0 !important;
                >img{
                    width: 12px;
                }
            }
        }
    }
}

/* Profile Details */
.profile_img{
    width: 137px;
    height: 87px;
    margin: auto;
    background: url(/colonist/images/user-img.png) no-repeat;
    background-size: contain;
}

/* Online Players List */
.online_players_list{
    height: 231px;
    overflow-y: auto;
    margin: 0 -0.5rem;
    &>*{
        padding: 0 0.5rem;
    }
    .player_name{
        padding-bottom: 0.25rem;
        border-radius: 5px;
        padding: 0 0.5rem;
        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

/* Rooms & Games Tabs Block */
.rooms_games_tabs_block{
    padding: 6px;
    .nav-tabs{
        background-color: $color-two;    
        .nav-link{
            background-color: #9fb350;
            color: $text_color_light;
            font-weight: bold;
            border-top-left-radius: $main-border-radius;
            border-top-right-radius: $main-border-radius;
        }
        .nav-link.active{
            background-color: $color-three;
            border: none;
        }
    }
    .tab-content{
        border-bottom-left-radius: $main-border-radius;
        border-bottom-right-radius: $main-border-radius;
        padding-left: 6px;
        padding-right: 6px;
        .tab-pane{
            height: 390px;
            overflow-y: auto;
            @media (max-width: 767px) {
                height: 243px;
            }
        }
        table{
            th{
                padding: .3rem .2rem;
                vertical-align: middle;
                &.karma {
                    width: 60px;
                }
                &.players {
                    width: 85px;
                }
                &.mode {
                    width: 35px;
                }
                &.elo {
                    width: 60px;
                }
                &.join-view {
                    width: 70px;
                }
            }
            td{
                padding: .2rem;
                vertical-align: middle;
            }
            tbody{
                tr{
                    &>td:empty{
                        height: 30px;
                    }
                    &:nth-of-type(odd) {
                        background-color: rgba(255,255,255,.1);
                    }
                    &:hover {
                        background-color: rgba(0,0,0,.075);
                    }
                }
            }
        }
    }
    &:nth-child(2){
        .tab-content{
            .tab-pane{
                height: 280px;
            }
        }
    }
    
}

.player_count{
    &_one,
    &_two,
    &_three,
    &_four{
        >img{
            opacity: 0.5;
        }
    }
    &_one>img:nth-child(1),
    &_two>img:nth-child(1),
    &_two>img:nth-child(2),
    &_three>img:nth-child(1),
    &_three>img:nth-child(2),
    &_three>img:nth-child(3),
    &_four>img:nth-child(1),
    &_four>img:nth-child(2),
    &_four>img:nth-child(3),
    &_four>img:nth-child(4){
        opacity: 1;
    }
}


/*  */
footer{
    a{
        color: $text_color_light;
        font-weight: bold;
        &:hover{
            color: $color-one;
        }
    }
}

.social_share_container{
    background-color: $text_color_light;
    box-shadow: $shadow-raised;
    padding: 0.5rem 0.75rem;
    border-radius: $main-border-radius;
    a{
        display: inline-block;
        margin: 0 1px;
        &:hover{
            opacity: 0.7;
        }
        &>img{
            width: 20px;
        }
    }
}


@media (min-width: 1400px){
    .container {
        max-width: 1340px;
    }
}

@media (max-width: 1399px){
    .main_container_block{
        max-width: 100%;
    }
}

@media (max-height: 875px){
    .ab_block.ab_block-three{
        display: none;
    }
}
@media (min-height: 1030px){
    .ab_block.ab_block-three{
        display: none;
    }
}
@media (max-height: 1029px){
    .ab_block.ab_block-four{
        display: none;
    }
}
@media only screen and (orientation: landscape), only screen and (min-width: 576px) {
    .rotation_message {
        display: none;
    }
}

/* Mobbile sidebar/nav */
@media (min-width: 992px){
    header .mobile_btn{
        display: none;
    }
}

@media (max-width: 991px){
    .res_block{
        &.active{
            transform: translateX(0%);
            opacity: 1;
            visibility: visible;
        }
    }
    header .res_block{
        position: fixed;
        z-index: 9999;
        left: 0;
        width: 260px;
        padding: 1rem;
        transition: $main-transition;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-110%);

        background: $color-one;
        box-shadow: 0px 0px 5px 5px #444;
        top: 0;
        height: 100%;
        .btn_mnav_close{
            content: '';
            display: inline-block;
            background-color: $color-one;
            color: $text_color_light;
            text-align: center;
            font-size: 20px;
            width: 40px;
            right: 0;
            top: 25px;
            transform: translateX(99%);
            position: absolute;
            padding: 0px 10px 6px;
            border: none;
            border-radius: 3px;
            >img{
                max-width: 100%;
                width: 12px;
                pointer-events: none;
            }
        }
    }
}
@media (max-width: 576px){
    footer.res_block{
        position: fixed;
        z-index: 9999;
        left: 0;
        width: 260px;
        padding: 1rem;
        transition: $main-transition;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-110%);

        bottom: 0;
    }
}