html{
    min-height: 100%;
    background: rgb(86,204,242);
    background: -moz-radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background: url(images/page_bg.png), radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
}
body{
    font-family: 'Niramit', sans-serif;
    background: transparent;
    color: #6e5f2c;
}

/* Custom Scroll Bar */
body ::-webkit-scrollbar {
    width: 5px;
}
body ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
}
body ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8c7e14; 
}
body ::-webkit-scrollbar-thumb:window-inactive {
	background: #8c7e14; 
}
/* End Custom Scroll Bar */

.bg_green{
    background-color: #9fb350;
}
.bg_grey{
    background-color: #8c7e14;
}

@media (min-width: 1400px){
    .container {
        max-width: 1340px;
    }
}
.row.custom_spacing {
    margin-right: -3px;
    margin-left: -3px;
}
.row.custom_spacing > div {
    padding-right: 3px;
    padding-left: 3px;
}

.btn{
    font-weight: bold;
    padding: 0.5rem 1rem;
}
.btn_raised{
    position: relative;
    border-radius: 12px;
    color: #6e5f2c;
    box-shadow: 0px 3px 0 1px #ccc;
    transition: all 0.15s ease-in-out;
    bottom: 0;
}
.btn_raised:hover{
    box-shadow: 0px 0px 0 0px #ccc;
    bottom: -3px;
}
.btn.shop_link *{
    vertical-align: middle;
}
.btn.shop_link{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.btn.shop_link:hover{
    color: #6e5f2c;
}
.btn.btn_create{
    background-color: #fd2424;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
}
.btn.btn_create:hover{
    background-color: #c82333;
}
.btn.btn_join{
    background-color: #017fff;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
}
.btn.btn_join:hover{
    background-color: #0069d9;
}

/*  */
.raised_block{
    background-color: #f8f9fa;
    padding: 0.5rem 1.25rem;
    box-shadow: 0px 3px 0 1px #ccc;
    border-radius: 12px;
}

.main_block{
    background-color: #9ec115;
    border: 6px solid #8c7e14;
    color: white;
    padding: 1.5rem 1rem;
    border-radius: 12px;
}
.main_block table{
    color: white;
}

/* Chat Box */
.chat_box .help_text{
    font-size: 15px;
}
.chat_box .message_list{
    height: 380px;
    overflow-y: auto;
    margin: 0 -0.5rem;
}
.chat_box .message_list .message_post{
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;
    border-radius: 5px;
}
.chat_box .message_list .message_post:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.chat_box form button.btn_send{
    padding: 0rem 0.7rem;
    border: 1px solid #ccc;
}
.chat_box form button.btn_send>img{
    width: 16px;
}

/* Players List */
.online_players_list{
    height: 197px;
    overflow-y: auto;
}
.online_players_list .player_name{
    padding-bottom: 0.25rem;
    border-radius: 5px;
}
.online_players_list .player_name:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1399px){
    .ab_block{
        display: none;
    }
}

/*  */
.rooms_games_tabs_block{
    background-color: #8c7e14;
    border: 6px solid #8c7e14;
    color: white;
    border-radius: 12px;
}
.rooms_games_tabs_block table{
    color: white;
}
.rooms_games_tabs_block .nav-tabs .nav-link{
    background-color: #9fb350;
    color: white;
    font-weight: bold;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.rooms_games_tabs_block .nav-tabs .nav-link.active{
    background-color: #9ec115;
    border: none;
}
.rooms_games_tabs_block .tab-content{
    background-color: #9ec115;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.rooms_games_tabs_block .tab-content .tab-pane{
    height: 257px;
    overflow-y: auto;
}

.rooms_games_tabs_block .tab-content table td,
.rooms_games_tabs_block .tab-content table th {
    padding: .2rem;
}
.rooms_games_tabs_block .tab-content table tbody tr>td:empty{
    height: 30px;
}
.rooms_games_tabs_block .tab-content table tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.1);
}
.rooms_games_tabs_block .tab-content table tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.player_count_one>img,
.player_count_two>img,
.player_count_three>img,
.player_count_four>img{
    opacity: 0.5;
}

.player_count_one>img:nth-child(1),

.player_count_two>img:nth-child(1),
.player_count_two>img:nth-child(2),

.player_count_three>img:nth-child(1),
.player_count_three>img:nth-child(2),
.player_count_three>img:nth-child(3),

.player_count_four>img:nth-child(1),
.player_count_four>img:nth-child(2),
.player_count_four>img:nth-child(3),
.player_count_four>img:nth-child(4){
    opacity: 1;
}

footer a{
    color: white;
    font-weight: bold;
}
footer a:hover{
    color: #6e5f2c;
}
.social_share_container{
    background-color: white;
    box-shadow: 0px 3px 0 1px #ddd;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    /* display: flex; */
    /* justify-content: space-around; */
}
.social_share_container a{
    display: inline-block;
    margin: 0 1px;
}
.social_share_container a:hover{
    opacity: 0.7;
}
.social_share_container a>img{
    width: 20px;
}