html{
    min-height: 100%;
    background: rgb(86,204,242);
    background: -moz-radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background: url(images/page_bg.png), radial-gradient(circle, rgba(86,204,242,1) 0%, rgba(47,128,237,1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
}
body{
    font-family: 'Niramit', sans-serif;
    background: transparent;
    color: #6e5f2c;
}

/* Custom Scroll Bar */
.custom_scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom_scrollbar::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8c7e14; 
}
.custom_scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background: #8c7e14; 
}
/* End Custom Scroll Bar */

@media (min-width: 1400px){
    .container {
        max-width: 1340px;
    }
}
.row.custom_spacing {
    margin-right: -3px;
    margin-left: -3px;
  }
  .row.custom_spacing > div {
    padding-right: 3px;
    padding-left: 3px;
  }

.btn{
    font-weight: bold;
    padding: 0.5rem 1rem;
}
.btn_raised{
    position: relative;
    border-radius: 12px;
    color: #6e5f2c;
    box-shadow: 0px 3px 0 1px #ccc;
    transition: all 0.15s ease-in-out;
    bottom: 0;
}
.btn_raised:hover{
    box-shadow: 0px 0px 0 0px #ccc;
    bottom: -3px;
}
.btn.shop_link *{
    vertical-align: middle;
}
.btn.shop_link{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.btn.shop_link:hover{
    color: #6e5f2c;
}
.raised_block{
    background-color: #f8f9fa;
    padding: 0.5rem 1.25rem;
    box-shadow: 0px 3px 0 1px #ccc;
    border-radius: 12px;
}
.main_block{
    background-color: #9ec115;
    color: white;
    border: 6px solid #8c7e14;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

/* Chat Box */
.chat_box .help_text{
    font-size: 15px;
}
.chat_box .message_list{
    height: 375px;
    overflow-y: scroll;
    margin: 0 -0.5rem;
}
.chat_box .message_list .message_post{
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;
    border-radius: 5px;
}
.chat_box .message_list .message_post:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.chat_box form button.btn_send{
    padding: 0rem 0.7rem;
    border: 1px solid #ccc;
}
.chat_box form button.btn_send>img{
    width: 16px;
}

/* Players List */
.online_players_list{
    height: 190px;
    overflow-y: scroll;
}
.online_players_list .player_name{
    padding-bottom: 0.25rem;
    border-radius: 5px;
}
.online_players_list .player_name:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.rooms_games_block{
    height: 270px;
}