$color-one : #6e5f2c; // primary font color
$color-two : #8c7e14; // main block border color
$color-three : #9ec115; // main block bg color
$color-four : #f8f9fa; // light bg color
$color-five : #bfb21e; // used in main user img bg
$color-red : #fd2424; // used for button
$color-blue : #017fff; // used for button
$color-green : #28a745; // used for button
$color-gradient-one : #56ccf2;
$color-gradient-two : #2f80ed;
$text_color_light : #ffffff;
$shadow-raised : 0px 2.5px 0px 1.5px #ccc;
$main-border-radius : 12px;
$main-transition : all 0.15s ease;

// Responsive view breadpoints
$breakPoint_width_sm : 576px;
$breakPoint_width_md : 768px;
$breakPoint_width_lg : 992px;
$breakPoint_width_xl : 1200px;
$breakPoint_width_xxl : 1400px;

$breakPoint_height_xs : 360px;
$breakPoint_height_sm : 375px;
$breakPoint_height_ms : 670px;
$breakPoint_height_md : 768px;
$breakPoint_height_lg : 876px;
$breakPoint_height_xl : 1030px;