$color-one : #6e5f2c; // primary font color
$color-two : #8c7e14; // main block border color
$color-three : #9ec115; // main block bg color
$color-four : #f8f9fa; // light bg color
$color-five : #bfb21e; // used in main user img bg
$color-red : #fd2424; // used for button
$color-blue : #017fff; // used for button
$color-green : #28a745; // used for button
$color-gradient-one : #56ccf2;
$color-gradient-two : #2f80ed;
$text_color_light : #ffffff;
$shadow-raised : 0px 2.5px 0px 1.5px #ccc;
$main-border-radius : 12px;
$main-transition : all 0.15s ease;